In [1]:
import os
import urllib.request

# to read excel
#df = pd.read_excel(file_https://github.com/fenago/MLEssentials/blob/main/datasets/Online%20Retail.xlsx?raw=trueurl)

data_location = '../datasets/Online-Retail.csv'
data_url = 'https://s3.amazonaws.com/elephantscale-public/data/retail-data/all/online-retail-dataset.csv'
# data_url = 'https://raw.githubusercontent.com/elephantscale/datasets/master/retail-data/all/online-retail-dataset.csv'

if not os.path.exists(data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        print ("Downloading  ", data_url)
        urllib.request.urlretrieve(data_url, data_location)
print ('data_location: ', data_location)

data_location:  ../datasets/Online-Retail.csv

In [2]:
import pandas as pd

df = pd.read_csv(data_location)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [3]:
uk_holidays_2010 = pd.read_csv('https://date.nager.at/PublicHoliday/Country/GB/2010/CSV')

uk_holidays_2010

,Date,LocalName,Name,CountryCode,Fixed,Global,LaunchYear,Type,Counties
0,2010-01-01,New Year's Day,New Year's Day,GB,False,True,NaN,Public,NaN
1,2010-01-04,New Year's Day,New Year's Day,GB,False,False,NaN,Public,GB-SCT
2,2010-03-17,Saint Patrick's Day,Saint Patrick's Day,GB,True,False,NaN,Public,GB-NIR
3,2010-04-02,Good Friday,Good Friday,GB,False,True,NaN,Public,NaN
4,2010-04-05,Easter Monday,Easter Monday,GB,False,False,NaN,Public,"GB-ENG,GB-WLS,GB-NIR"
5,2010-05-03,Early May Bank Holiday,Early May Bank Holiday,GB,False,True,1978.0,Public,NaN
6,2010-05-31,Spring Bank Holiday,Spring Bank Holiday,GB,False,True,1971.0,Public,NaN
7,2010-07-12,Battle of the Boyne,Battle of the Boyne,GB,True,False,NaN,Public,GB-NIR
8,2010-08-02,Summer Bank Holiday,Summer Bank Holiday,GB,False,False,1971.0,Public,GB-SCT
9,2010-08-30,Summer Bank Holiday,Summer Bank Holiday,GB,False,False,1971.0,Public,"GB-ENG,GB-WLS,GB-NIR"
10,2010-11-30,Saint Andrew's Day,Saint Andrew's Day,GB,True,False,NaN,Public,GB-SCT
11,2010-12-27,Christmas Day,Christmas Day,GB,False,True,NaN,Public,NaN
12,2010-12-28,Boxing Day,St. Stephen's Day,GB,False,True,NaN,Public,NaN

In [4]:
uk_holidays_2011 = pd.read_csv('https://date.nager.at/PublicHoliday/Country/GB/2011/CSV')
uk_holidays_2011

,Date,LocalName,Name,CountryCode,Fixed,Global,LaunchYear,Type,Counties
0,2011-01-01,New Year's Day,New Year's Day,GB,False,False,NaN,Public,GB-NIR
1,2011-01-03,New Year's Day,New Year's Day,GB,False,False,NaN,Public,"GB-ENG,GB-WLS"
2,2011-01-03,New Year's Day,New Year's Day,GB,False,False,NaN,Public,GB-SCT
3,2011-01-04,New Year's Day,New Year's Day,GB,False,False,NaN,Public,GB-SCT
4,2011-03-17,Saint Patrick's Day,Saint Patrick's Day,GB,True,False,NaN,Public,GB-NIR
5,2011-04-22,Good Friday,Good Friday,GB,False,True,NaN,Public,NaN
6,2011-04-25,Easter Monday,Easter Monday,GB,False,False,NaN,Public,"GB-ENG,GB-WLS,GB-NIR"
7,2011-05-02,Early May Bank Holiday,Early May Bank Holiday,GB,False,True,1978.0,Public,NaN
8,2011-05-30,Spring Bank Holiday,Spring Bank Holiday,GB,False,True,1971.0,Public,NaN
9,2011-07-12,Battle of the Boyne,Battle of the Boyne,GB,True,False,NaN,Public,GB-NIR
10,2011-08-01,Summer Bank Holiday,Summer Bank Holiday,GB,False,False,1971.0,Public,GB-SCT
11,2011-08-29,Summer Bank Holiday,Summer Bank Holiday,GB,False,False,1971.0,Public,"GB-ENG,GB-WLS,GB-NIR"
12,2011-11-30,Saint Andrew's Day,Saint Andrew's Day,GB,True,False,NaN,Public,GB-SCT
13,2011-12-26,Boxing Day,St. Stephen's Day,GB,False,True,NaN,Public,NaN
14,2011-12-27,Christmas Day,Christmas Day,GB,False,True,NaN,Public,NaN

In [5]:
uk_holidays = uk_holidays_2010.append(uk_holidays_2011)
uk_holidays.shape

(28, 9)

In [6]:
df['InvoiceDay'] = df['InvoiceDate'].astype(str).str.slice(stop=10)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,12/1/2010
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,12/1/2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,12/1/2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,12/1/2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,12/1/2010

In [7]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
InvoiceDay      object
dtype: object

In [8]:
df['InvoiceDay'] = pd.to_datetime(df['InvoiceDay'])
df.dtypes

ParserError: Unknown string format: 1/4/2011 1

In [ ]:
#df['a'] = df['b'].astype('timestamp')

In [ ]:
df_left = pd.merge(df, uk_holidays, left_on='InvoiceDay', right_on='Date', how='left')

df_left

In [ ]:
df_inner = df.merge(uk_holidays, left_on='InvoiceDay', \

                    right_on='Date', how='inner')

df_inner